h1{
    background-color: rgb(0, 0, 0);
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(209, 209, 209);
}
h2{
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(51, 48, 48);
}

h3{
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(243, 24, 24);
}

#BG{
    background-color: rgb(170, 165, 165);
    display: flex;
    flex-direction: column;
}

p{
    font-family: 'Sukhumvit set';
    font-size: 25px;
    font-style: italic;
    background-color: rgb(156, 153, 153);
    color: rgb(255, 255, 255);
}

a{
    font-family: 'Sukhumvit set';
    font-size: 30px;
    font-style: italic;
}