body {
    background-color: rgba(217, 255, 0, 0.651);
}

h1 {
    color: rgb(0, 225, 255);
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: rgb(80, 12, 240);
    text-align: center;
}

p {
    color: rgb(0, 255, 34);
}

#l1 {
    color: rgb(190, 22, 22);
    font-family: verdana;
    font-style: italic;
}

#l2 {
    color: rgb(235, 111, 10);
    font-family: verdana;
    text-decoration: underline;
}