body {
    background-color: rgb(43, 118, 204);
}

h1 {
    color: rgb(220, 243, 16);
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    text-align: center;
    font-family: verdana;
}