h1{
    background-color: rgb(0, 0, 0);
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(209, 209, 209);
}
h2{
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(0, 0, 0);
}

h3{
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(243, 24, 24);
}

#BG{
    background-color: rgb(170, 165, 165);
    display: flex;
    flex-direction: column;
}

p{
    font-family: 'Sukhumvit set';
    font-size: 20px;
    font-style: italic;
    background-color: rgba(20, 17, 17, 0);
    color: rgb(14, 0, 0);
}

a{
    font-family: 'Sukhumvit set';
    font-size: 20px;
    font-style: italic;
}

